
{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h1 class = "text-center">Les Formations disponible </h1>
    <div class="question-header-faq">
        <h3><span class="field field--name-title field--type-string field--label-hidden">Tout savoir sur les formations en langues vivantes</span></h3>
        <div class="hero-chapeau">
            <div class="clearfix text-formatted field field--name-field-chapeau field--type-text-long field--label-hidden field__item"><p class="text-align-justify" style="margin: 0cm 0cm 8pt; border: currentColor; border-image: none;">Vous souhaitez améliorer votre niveau dans une langue vivante afin d’obtenir une certification reconnue par les employeurs en France et à l’International ? Sachez que vos droits formation vous permettent de financer les formations et certifications les plus réputées comme les tests Linguaskill Business (ex-BULATS), TOEIC ou LILATE en anglais, mais aussi dans d’autres langues.<br />
                    En fonction de vos attentes, vos besoins, et vos compétences déjà acquises, faites votre choix parmi un grand nombre de formations certifiantes en langues vivantes.</p>
            </div>
        </div>
        <div class="question-response hero-chapeau-second">
            <div class="clearfix text-formatted field field--name-field-body field--type-text-long field--label-hidden field__item"><h3 class="text-align-justify">Pourquoi suivre une formation professionnelle en langues vivantes ?</h3>
                <p class="text-align-justify">
                    Une certification professionnelle en langue constitue un véritable atout pour exercer n’importe quelle profession dans un cadre et un contexte international.<br />
                    Elle sert à attester de ses compétences auprès d’un employeur, mais peut également faire partie des exigences et pré-requis dans le cadre d’un parcours de formation, par exemple, pour intégrer une école de commerce.<br />
                    Elle valorise votre CV, renforce votre profil, et vous donne de nouveaux arguments pour évoluer dans votre fonction actuelle, changer de poste, faciliter votre mobilité à l’international, ou encore trouver plus facilement un emploi si vous êtes en recherche.</p>
                <p class="text-align-justify"> </p>
                <h4 class="text-align-justify"><u>Liste des principales formations et certifications éligibles Mon Compte Formation :</u></h4>
                <p class="text-align-justify"> </p>
                <h4 class="text-align-justify">Formations et certifications Anglais :</h4>
                <p> </p>
                <p><strong>LILATE (Live Language Test)</strong></p>
                <p>Le LILATE est un test multilingue qui répond aux besoins formulés par de nombreuses entreprises. Bien plus qu’un outil d’évaluation linguistique, ce test adaptatif en ligne a été conçu afin d’aider les entreprises et les organismes de formation à évaluer les capacités d’interaction du candidat dans un contexte professionnel.<br />
                    Un examinateur de la langue maternelle évaluée, apprécie les compétences écrites et orales du candidat. Les résultats sont délivrés en moins de 24H.<br />
                    Le LILATE permet d'évaluer votre niveau d'anglais mais également le niveau des langues ci-dessous : </p>
                <ul>
                    <li>Allemand</li>
                    <li>Espagnol</li>
                    <li>Italien</li>
                    <li>Français FLE</li>
                    <li>Chinois</li>
                    <li>Japonais</li>
                    <li>Hindi</li>
                    <li>Langue des signes</li>
                    <li>Polonais</li>
                    <li>Norvégien</li>
                    <li>Russe</li>
                    <li>Arabe</li>
                    <li>Hébreu</li>
                    <li>Portugais  </li>
                    <li>Portugais-brésilien<br />
                    </li>
                </ul>
                <p class="text-align-justify"><strong>LINGUASKILL  (ex: Bulats) :</strong></p>
                <p class="text-align-justify">Linguaskill from Cambridge est une gamme de deux tests d’anglais innovants, rapides et fiables basés sur les compétences en langue (les language skills) utilisées dans les situations de la vie quotidienne.</p>
                <p class="text-align-justify">Linguaskill General aborde les situations de la vie courante, professionnelle comme personnelle, tandis que Linguaskill Business traite plutôt des situations de la vie professionnelle administrative et commerciale. Linguaskill étant complet, permet de prouver la maîtrise de toutes les compétences langagières compréhension/expression, écrit/oral.</p>
                <p class="text-align-justify"> </p>
                <p class="text-align-justify"><strong>DCL (Diplôme de compétence en langue)</strong></p>
                <p class="text-align-justify">Le diplôme de compétence en langue (DCL) est un diplôme national professionnel créé spécialement pour les adultes. Il répond aux besoins du monde économique. Son originalité : évaluer les compétences langagières dans une situation proche de la réalité de travail. En fonction de leur performance, les candidats obtiennent le diplôme avec la mention d'un des niveaux du Cadre européen commun de référence pour les langues (CECRL).</p>
                <p class="text-align-justify">Le DLC vous permet d’évaluer votre niveau d’anglais, mais également celui des langues ci-dessous :</p>
                <ul>
                    <li class="text-align-justify">Allemand</li>
                    <li class="text-align-justify">Espagnol</li>
                    <li class="text-align-justify">Italien</li>
                    <li class="text-align-justify">Arabe</li>
                    <li class="text-align-justify">Chinois</li>
                    <li class="text-align-justify">Portugais</li>
                    <li class="text-align-justify">Russe</li>
                    <li class="text-align-justify">Signe français</li>
                </ul>
                <p class="text-align-justify"> </p>
                <p class="text-align-justify">
                    <strong>TOEIC</strong></p>
                <p class="text-align-justify">Le programme TOEIC est une référence en matière d’évaluation des compétences en langue anglaise utilisée dans un contexte professionnel. Avec près de 7 millions de tests administrés chaque année, les tests TOEIC sont utilisés par plus de 14 000 entreprises, organismes gouvernementaux et programmes d’apprentissage dans plus de 160 pays dans le monde.<br />
                    Fournissant des scores valides, fiables et équitables, les tests TOEIC mesurent les 4 compétences linguistiques - compréhension et expression écrites et orales - et offrent une vision complète de votre maîtrise de l'anglais.</p>
                <p class="text-align-justify"> </p>
                <p class="text-align-justify"><strong>TOEFL</strong></p>
                <p class="text-align-justify">Les tests TOEFL sont utilisés dans le monde entier pour évaluer l'apprentissage de l'anglais à chaque étape du cursus scolaire d’un étudiant ou d’un élève. Qu'il s'agisse des admissions ou de définition de groupes de niveau, ou encore de la validation des acquis, les tests TOEFL vous fournissent les informations dont vous avez besoin pour prendre des décisions en toute confiance.</p>
                <p class="text-align-justify"> </p>
                <p class="text-align-justify">
                    <strong>BLISS (Bright Language International Speaking Solution) :</strong></p>
                <p class="text-align-justify">Le test BLISS ou Bright Language International Speaking Solutions, évalue les compétences de communication orale de vos collaborateurs.<br />
                    Associant une évaluation en ligne et un test de communication orale par téléphone ou Skype, il permet d’obtenir une idée précise du niveau linguistique de la personne en situation de dialogue professionnel.<br />
                    Ce test existe aussi pour les langues suivantes :</p>
                <ul>
                    <li class="text-align-justify">Espagnol</li>
                    <li class="text-align-justify">Allemand</li>
                    <li class="text-align-justify">Français</li>
                    <li class="text-align-justify">Italien</li>
                </ul>
                <p class="text-align-justify"> </p>
                <h2 class="text-align-justify">
                    Formations et certifications Espagnol</h2>
                <p class="text-align-justify"> </p>
                <p class="text-align-justify">
                    <strong>EsPRO BULATS (espagnol) :</strong></p>
                <p class="text-align-justify">Le esPRO BULATS permet une évaluation des compétences linguistiques de l'espagnol dans le monde du travail sur le plan de la compréhension écrite et orale (niveaux A1 à C2) pour la réalisation d'une mission professionnelle.</p>
                <p class="text-align-justify">Objectif</p>
                <p class="text-align-justify">Sur la base des activités langagières définies par le CERCL, le esPRO BULATS évalue les compétences de compréhension écrite et de compréhension orale en espagnol sur les niveaux A1 à C2 et dans un contexte professionnel.</p>
                <p class="text-align-justify"> </p>
                <p class="text-align-justify"><strong>BLISS (Bright Language International Speaking Solution) :</strong></p>
                <p class="text-align-justify">
                    Le test BLISS ou Bright Language International Speaking Solutions, évalue les compétences de communication orale de vos collaborateurs.</p>
                <p class="text-align-justify">Associant une évaluation en ligne et un test de communication orale par téléphone ou Skype, il permet d’obtenir une idée précise du niveau linguistique de la personne en situation de dialogue professionnel.<br />
                    Ce test existe aussi pour les langues suivantes : Anglais, Allemand, Français, Italien</p>
                <p> </p>
            </div>
        </div>
    </div>
</div>













{% endblock body %}
