
{% extends 'base.html.twig' %}


{% block body %}




             {% verbatim %}
            <div class="jumbotron">
                <div class="container">

                          <div id="app"> </div>
                </div>
            </div>
            {% endverbatim %}



{% endblock %}




